@using DoubleFactorAuthenticationHomeWork.ViemModels
@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "Admin Dashboard";
}

<h1>Admin Arayüzü</h1>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Son Giriş Zamanı</th>
            <th>Son Çıkış Zamanı</th>
            <th>Doğrulama Durumu</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.LastLoginTime</td>
                <td>@user.LastLogoutTime</td>
                <td>
                    @if (user.LastLogoutWithoutVerification)
                    {
                        <span class="text-danger">Doğrulama yapılmadan çıkış</span>
                    }
                    else
                    {
                        <span class="text-success">Doğrulama yapıldı</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-action="AdminLogout" asp-controller="Account" method="post">
    <button type="submit" class="btn btn-danger">Çıkış Yap</button>
</form>
